@{
    ViewData["Title"] = "Главная";
}
<div class="container-fluid d-flex align-items-center justify-content-center">
	<div class="card">
		<strong style="text-align: center;">Министерство социальной-демографической и семейной политики Самарской области</strong>
		<h1 style="text-align: center;">ГКУ СО "Комплексный центр социального обслуживания населения Поволжского округа"</h1>
	</div>
	</div>
<div class="container-fluid d-flex align-items-center justify-content-center">
<div class="card">
    <div class="row">
            <div class="col-12 col-md-4 border border-right border-primary rounded">
            <a href="https://pos.gosuslugi.ru/form/?opaId=319339&utm_source=vk&utm_medium=65&utm_campaign=1026604948116&clckid=7bf05571">
                    <img src="~/css/Main/Gosuslugi.jpg" class="rounded  d-block img-fluid p-1" alt="Госуслуги">
            </a>
        </div>
			<div class="col-12 col-md-8 border border-primary rounded">
                <h3 class="page-header">Наши подразделения</h3>
				<ul class="category-module border mod-list">
					<li>
						<a class="mod-articles-category-title " href="https://doverie63.ru/ob-uchrezhdenii/podrazdeleniya/otdelenie-sotsialnaya-gostinitsa">Стационарное отделение </a>

					</li>
					<li>
						<a class="mod-articles-category-title " href="https://doverie63.ru/ob-uchrezhdenii/podrazdeleniya/otdelenie-sotsialnoj-adaptatsii-nesovershennoletnikh-i-molodezhi">Волжское отделение</a>

					</li>
					<li>
						<a class="mod-articles-category-title " href="https://doverie63.ru/ob-uchrezhdenii/podrazdeleniya/otdelenie-profilaktiki">Новокуйбышевское отделение </a>
					</li>
					<li>
						<a class="mod-articles-category-title " href="https://doverie63.ru/ob-uchrezhdenii/podrazdeleniya/otdelenie-ekstrennoj-psikhologicheskoj-pomoshchi-telefon-doveriya">«Телефон доверия» </a>
					</li>
				</ul>
        </div>
			<div class="col p-1">
				<div class="border border-primary rounded ">
					<p>Федеральный закон №442-ФЗ «<a href="https://doverie63.ru/images/documents/442-fz.doc">Об основах социального обслуживания граждан РФ</a>»</p>
					<p>Закон Самарской области от 31 декабря 2014 г. № 136-ГД «<a href="https://doverie63.ru/images/documents/zakon_samarskoy_oblasti_136-gd_ot_31_dekabrya_2014_g.doc">Об утверждении Перечня социальных услуг, предоставляемых в Самарской области поставщиками социальных услуг</a>»</p>
				</div>
			</div>
    </div>
    </div>
</div>
<div class="container-fluid d-flex align-items-center justify-content-center">
	<div class="card">
		<h1 style="text-align: center;">Мы здесь!</h1>
		<p style="text-align: center;"><em><strong><span style="color: #000000;">До</span></strong>бром дозировать до дна</em><br><em><strong><span style="color: #000000;">До</span></strong>йти дорогой долгой, достучаться</em><br><em><strong><span style="color: #000000;">До</span></strong>ступно донести, дополнить дополна,</em><br><em><strong><span style="color: #000000;">До</span></strong>стать, достичь,&nbsp;доделать, доискаться</em></p>
		<div class="container-fluid map justify-content-center d-flex ">
			<iframe class="border border-primary rounded" width="1200" height="400" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d503.69099159054775!2d49.960625332098374!3d53.0927442239531!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4168a46c0255a1e3%3A0xfb88f0ad0069c0dc!2z0YPQuy4g0KfQtdGA0L3Ri9GI0LXQstGB0LrQvtCz0L4sIDMz0JAsINCd0L7QstC-0LrRg9C50LHRi9GI0LXQstGB0LosINCh0LDQvNCw0YDRgdC60LDRjyDQvtCx0LsuLCA0NDYyMDY!5e0!3m2!1sru!2sru!4v1715890452606!5m2!1sru!2sru" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
	</div>
</div>
<div class="container-fluid d-flex align-items-center justify-content-center">
    <div class="card">
        <div class="md-8">
<div id="mainCarousel" class="carousel carousel-fade carousel-dark slide " data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Первый слайд"></button>
        <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="1" aria-label="Второй слайд"></button>
        <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="2" aria-label="Третий слайд"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
                        <img src="~/css/CarouselItems/_firstImage.jpg" class="rounded  d-block img-fluid" width="1200" height="100" alt="Первый слайд">
            <div class="carousel-caption d-none d-md-block">
                            <div class="card">
                <h5>Радость вокруг!</h5>
                <p>Мы в хороводе счастья</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
                        <img src="~/css/CarouselItems/_secondImage.jpg" class="rounded  d-block img-fluid" width="1200" height="100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                            <div class="card">
                <h5>Творчество витает в воздухе</h5>
                <p>Таланты без границ</p>
            </div>
            </div>
        </div>
        <div class="carousel-item">
                        <img src="~/css/CarouselItems/_thirdImage.jpg" class="rounded  d-block img-fluid" width="1200" height="100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                            <div class="card">
                <h5>Волшебство новогодних мгновений</h5>
                <p>Новый год вместе радостнее</p>
            </div>
        </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Предыдущий</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Следующий</span>
    </button>
</div>
    </div>
</div>
</div>